.App {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

button:hover {
  color: white;
  box-shadow: 0 5px 15px rgba(131, 100, 219, 0.4);
}

button {
  font-size:40px;
  width:300px;
  height:250px;
  border-radius: 5px;
  border: 1px solid black;
  background:rgb(119, 139, 155);
  transition: width 0.5s;
}

/* //////////////////// Components ////////////////// */

.Test {
  background-color: black;
}

.Photo {
  position: absolute;
  width: 500;
  height: 500;
  left: 100px;
  top: 275px;
}

.socials {
  position: relative;
  left: 750px;
  top: 400px;
  height: 250px;
  width: 550px;
}

.wrapper {
  position: absolute;
  background: black;
  border: 1px solid black;
  top: 25px;
  left: 1000px;
  height: 1150px;
  width: 1200px;
}

.Name-button {
  position: absolute;
  left: 30px;
  top: 50px;
}

.Interests-button {
  position: absolute;
  left: 30px;
  top: 315px;
}

.School-button {
  position: absolute;
  left: 30px;
  bottom: 315px;
}

.Program-button {
  position: absolute;
  left: 30px;
  bottom: 50px;
}


h1 {
  color: white;
}

.Name {
  position: absolute;
  left: 375px;
  top: 30px;
}

.Interests {
  position: absolute;
  left: 375px;
  top: 30px;
}

.School {
  position: absolute;
  left: 375px;
  top: 30px;
}

.Program {
  position: absolute;
  left: 375px;
  top: 30px;
}


